html,body {
  height: 100%;
  color: #777;
  margin: 0 0 60px 0 ;
  font: 400 15px/1.8 "Lato", sans-serif;
}
.parallax_background{
  max-width: 100%;
  position: relative;
  opacity: .65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pswrd_background{
  background-image: url('img/access-black-and-white-blur-270514.jpg');
  min-height: 100%;
}
#contact_background{
  background-image: url('img/adult-blank-business-326576.jpg');
  min-height: 100%;
}
#gallery_background{
  background-image: url('img/analogue-aperture-black-and-white-614077.jpg');
  min-height: 100%;
}
.centerpasswordgen{
  position: absolute;
  left: 0;
  top: 33%;
  width: 100%;
  text-align: center;
}
.centercontents{
  padding-top: 10%;
}
.jumbotron{
  text-align:center;
  background: none;
  color: #fff;
}
/* icon color */
i{
  color:#fff;
}
.btn {
  color: #fff;
  background-color: #000;
}
.btn:disabled{
    color: #fff;
    background-color: #666;
    opacity: 1;
}
.btn:hover {
  background: #333;
  color: #fff;
}
.bg-custom{
  background-color: #212529;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  color: #fff;
}

form label {
  font-weight: 500;
  font-size: 1rem;
}

/* helper text for invalid */
small.form-text-invalid{
  color:red;
}
